@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
}

html, body {
	overflow: hidden;
	font-family: Poppins, sans-serif;
	height: 100%;
}

/* showHelpNotify */

#uihelp {
	position: absolute;
	top: 10%;
	right: 15px;
}

#wrapperhelp {
	height: auto;
	margin-bottom: 10px;
	min-width: auto;
	max-width: auto;
	margin: 0 0 8px 0;
	border-radius: 5px;
	border-bottom: 2.5px solid #874cff;
	/* style */
	background-color: rgba(11, 11, 11, 0.5);
	color: #ffffff;
	
	padding: 5px 5px 5px 5px;
	margin-bottom: 5px;
	
	/* border  */
	/* border-left: 4px solid #969696; */
}

#mainhelp {
	margin: 8px 10px 8px 10px;
	position: relative;
}


#messagehelp {
	font-size: 11px;
	font-weight: 800;
}

.active {
	opacity: 1;
	animation: fadeInRight;
	animation-duration: 1.25s;
}

.hiding {
	opacity: 0;
	animation: fadeOutRight;
	animation-duration: 1.25s;
}

/* transfer colors  */

#messagehelp .w,
#messagehelp .s {
    color: #fff;
}

#messagehelp .u {
    color: #000000;
}

#messagehelp .r {
    color: #ef075d;
}

#messagehelp .g {
    color: #a3ff12;
}

#messagehelp .b {
    color: #0099cc;
}

#messagehelp .y {
    color: #ffcc00
}

#messagehelp .o {
    color: #F76A2E;
}

#messagehelp .p {
    color: #651FFF;
}

#messagehelp .h {
    font-weight: bold;
}

#messagehelp h1 {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	
	padding-left: 4px;
	padding-right: 4px;
	
	text-align: center;
	border-bottom: 1.5px solid #874cff;
    background: rgba(255, 255, 255, 0.25);
	border-radius: 0.3vh;
	
}